html{
    height: 100%;
}

body{
    height: 100%;
}

section{
    height: 100%;
}

section{
  padding-top: 0.5%;    
  padding-bottom: 3%;
}

thead{
  background-color: ghostwhite;
}

div.panel.panel-default{
    width: 90%;
    margin: auto;    
}