#divImgDescriptiva{
  width: 40%;
  float: left;    
}

#divImgDescriptiva img{
  width: 70%;
  margin-left: 7%;
}

#break{
    clear:both;
}

.row{
    margin-bottom: 4%;
}

div.row > img{
    margin-right: 4%;
}