#divImgDescriptiva{
  width: 40%;
  float: left;    
}

#divImgDescriptiva img{
  width: 70%;
  margin-left: 7%;
}

#contenedorDatos{
  width: 60%;
  float: right;    
}

h3:nth-child(1){
      margin-top: 0%;
}

#break{
    clear:both;
}