#contenedorDatos{
  width: 60%;
  float: right;    
}

h3:nth-child(1){
      margin-top: 0%;
}

#break{
    clear:both;
}

#contentVP img{
    width: 50%;
}

#imgDescriptivaPrincipal{
    width: 80%;
}

#divImgDescriptiva{
    width: 40%;
    float: left;
}

#divImgMarcador{
    width: 40%;
    float: right;
}

button{
    margin-top: 5%;
}