#listaEventos{
    height: 100%;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    box-shadow: 1px 1px 1px #888888;  
    overflow-y:auto;
    overflow-x: hidden;  
}

.media-body{
    padding-top: 1.7%;
}

.media{
    margin-top: 0px;
    padding-bottom: 0.5%;    
}

.container{
    padding: 0.5%;
}

.media-left{
    padding-left: 0.9%;
}
