body{
    margin: auto;
    font-family: Roboto, arial, sans-serif;
    background-color: #e5e5e5;
}

header{
    height: 45px;
    background-color: #339900;
}

a:link{   
 text-decoration:none;   
} 

header img{
    margin-top: 0.4em;
    margin-left: 0.4em;
    vertical-align: sub    
}

h1{
    margin-left: 0.3em;
    display: inline;
    font-size: 2em;
    color: white;
}

h2{
    font-weight: bold;
}

p{
    margin-bottom: 3.5%;
    padding-left: 3%;
    font-size: 110%;
}

#contenedor{
    height: 100%;
    background-color: #e5e5e5;
}

section{
    width: 79%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 0.5em;
}

#contentVP{
    text-align: center;
}