body{
    margin: auto;
    font-family: Roboto, arial, sans-serif;
    background-color: #e5e5e5;
}
header{
    height: 45px;
    padding-left: 1%;
    background-color: #339900;
}

a:link{   
 text-decoration:none;   
} 

img{
    margin-top: 0.4em;
    margin-left: 0.4em;
    vertical-align: sub;
}

h1{
    margin-left: 0.3em;
    display: inline;
    vertical-align: text-bottom;    
    font-size: 2em;
    color: white;
}

#contenedor{
    height: 100%;
    background-color: #e5e5e5;
}

section{
    width: 79%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 0.5em;
}
            
form{
    width: 100%;
    margin: auto;
    padding-bottom: 2em;
}
            
label{
    margin-top: 2em;
}

#btnRegistrar{
    margin-top: 2em;
}
            
.error{
    display: block;
    color: red;
}

@media screen and (max-width: 520px) {
    h1{
        font-size: 20px;
    } 
    
    header img{
          width: 10%;
    }
    
    section{
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 320px){
    h1 {
      font-size: 17px;
    }
}