h1{
	font-size: 38px;
	margin-bottom: 50px;
	font-weight: 300;
}

h2{
	font-size: 18px;
	font-weight: 400;
}

a, a:hover{
	color: #427fed;
}

body{	
	margin: 0 auto;
	text-align: center;
        font-family: 'Open Sans', arial;
	color: #555;
}

header{
	margin: auto;
	margin-top: 7%;
}

#contenedor{
	background-color: #F7F7F7;
	width: 27em;
	padding: 40px 40px;
	margin: auto;
	margin-top: 4%;
	box-shadow: 0px 2px 2px #B5B5B5;
	margin-bottom: 2%;
}

input{
	margin-bottom: 10px;
	width: 100%;
}

.error{
    display: block;
    color: red;
}

@media screen and (max-width: 520px) {
    h1{
        font-size: 200%;
    } 
    
    #contenedor{
          width: 100%;
    }
}