.labelImgNueva{
   width: 17%;
}

.imgActual{
    margin-left: 3.3%;
}

.imgEscondida{
    visibility: hidden;
}

.vistaPrevia{
    width: 10em;
    height: 10em;
}

@media screen and (max-width: 1024px) {
    .labelImgNueva{
       width: 22%;
    }
}