.labelImgNueva{
   width: 17%;
}

.imgActual{
    margin-left: 3.3%;
}

.imgEscondida{
    visibility: hidden;
}

.vistaPrevia{
    width: 15%;
    height: 50%;
}

@media screen and (max-width: 1024px) {
    .labelImgNueva{
       width: 22%;
    }
}

@media screen and (max-width: 520px) {
    img.imgActual{
       display: none;
    }
    
    input[type=file]{
        margin-bottom: 1%;
    }
    
    .vistaPrevia {
      width: 30%;
      height: 30%;
    }  
    
    span.spanVP label:nth-child(3){
        display: none;
    }
    
    label{
        font-size: 80%;
    }
}

