html{
    height: 100%;
}

body{
    height: 100%;
    margin: auto;
    font-family: Roboto, arial, sans-serif;
    background-color: #e5e5e5;
}

header{
    padding-left: 1.5%;
    padding-top: 0.2%;
    padding-bottom: 0.5%;
    background-color: #0F9D58;
}

h1{
    margin: 0px;
    color: white;
}

h2{
    width: 25%;
    margin: 0px;
    display: inline;
    font-size: 1.5em;
/*    color: #004E2A;*/
}

h3{
    margin: 0px;
    color: white;
    clear: both;	
}

h4{
    margin-left: 2%;
}

a:link{   
    text-decoration:none;   
}  

li.media a:hover{
     text-decoration:none;
     color:#337ab7;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: white;
}

p{
    width: 95%;
    margin-left: 2%;
    color: #333;
}

#dropToRight{
    float: right;
}

#atrasDeNav{
    height: 83px;
}

#listaEspacios{
    height: 100%;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    box-shadow: 1px 1px 1px #888888;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-group-addon{
    width: 4%;
    padding-left: 2%;
    padding-top: 3%;
    margin-right: 1%;
    border-radius: 0px;
    background-color: white;
    border: 0px;
    float: left;
}

.media-object{
    width: 150px;
    height: 100px;
    margin-left: 10%;
}

.media{
    border-bottom: 1px solid #eeeeee;
    margin-top: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

label{
    margin-left: 2%;
    font-size: 80%;
    color: #767676;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default{
   background-color: #339900;
   border: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}


input[type='checkbox'] {
  height: 20px;
  width: 20px;
}

#navbar-brand{
    color:white;
}

.container {
  padding: 0.5%;
}

nav{
    margin-top: 32px;
}

header.container {
    width: 100%;
/*    height: 33px;*/
    position: fixed;
    background-color: #00519E;
}

header label{
    color: white;
}

#spanAdmin{
    text-align: right;    
}

#menuResponsivo{
   display: none; 
}

.navbar-fixed-bottom, .navbar-fixed-top {
  z-index: 0;
}

#cerrarSesionResponsivo{
    display: none;
}

    li.list-group-item{
        position: inherit;
    }    
    
    li.list-group-item span{
        position: initial;
    }

    div.media-left{
        vertical-align: middle;
    }    
    
@media screen and (max-width: 866px){
    nav {
      margin-top: 31px;
    }      
}


@media screen and (max-width: 767px) {
    
    ul.navbar-right{
        display: none;
    }
    
    #menuResponsivo{
       width: 50%;
       padding-right: 1%;
       display: inline; 
       float: right;
       text-align: right;
    }
    
    .navbar {
          margin-top: 29px;
    }   
    
    #menuResponsivo div{
        width: 7%;
        display: inline-block;
        margin-top: 4%;    
        margin-right: 5%;
    }    
    
    #btn-editar{
        margin-right: 5%;
        margin-left: 5%;
    }
    
    #div-eliminar{
        margin-right: 5%;
        margin-left: 5%;        
    }
    
    #btnAgregar{
        margin-right: 5%;
        margin-left: 5%;        
    }
    
    #btnMenu{
        margin-right: 5%;
        margin-left: 5%;        
    }
    
    #menuResponsivo div img{
        width: 100%;
    }
    
}


@media screen and (max-width: 566px) {
    .navbar {
      margin-top: 29px;
    }    
}

@media screen and (max-width: 520px) {
   .navbar {
        margin-top: 10.5%;
    }
    
    #atrasDeNav {
      height: 19%;
    }    
    
    #spanDependencia{
        display: block;
        float: none;
        width: 100%;             
    }     
    
    #spanAdmin {
        display: block;
        float: none;
        width: 100%;         
        text-align: left;
    } 
    
    #menuResponsivo div img {
       width: 150%;
    }
    
    #btn-editar{
        margin-right: 10%;
        margin-left: 10%;
    }
    
    #div-eliminar{
        margin-right: 10%;
        margin-left: 10%;        
    }
    
    #btnAgregar{
        margin-right: 10%;
        margin-left: 10%;        
    }
    
    #btnMenu{
        margin-right: 10%;
        margin-left: 10%;        
    }    
    
}

@media screen and (max-width: 501px) {
    .media-object{
        display: none;
    }      
    
    .navbar {
        margin-top: 12%;
    }  

    #atrasDeNav {
      height: 40%;
    }     
    
}


@media screen and (max-width: 320px) {
    .navbar {
        margin-top: 14%;
    }   
    
    #menuResponsivo {
      width: 70%;
    }    
    
    #menuResponsivo div {
      width: 5%;
    }    
    
    #menuResponsivo div img {
       width: 220%;
    }
    
    #atrasDeNav {
      height: 30%;
    } 
    
    .media-object{
        display: none;
    }     
}


@media screen and (max-width: 319px) {
    .navbar {
        margin-top: 18%;
    }   
    
    #menuResponsivo {
      width: 70%;
    }    
    
    #menuResponsivo div {
      width: 5%;
      margin-top: 7%;
    }    
    
    #menuResponsivo div img {
       width: 200%;
    }
    
    #atrasDeNav {
      height: 15%;
    } 
    
    #menuResponsivo {
      width: 68%;
    }    
}