section{
    padding-top: 1.5%;
}

h2{
    margin: 0%;
    font-size: 25px;
    font-weight: bold;    
}

h3{
  margin-left: 3%;    
  font-size: 20px;
}

hr{
    width: 80%;
    margin-left: 3%;
}

#formRegistroResponsableBasico{
    width: 50%;
    margin-left: 7%;
}

#formRegistroResponsableAvanzado{
    width: 80%;
    margin-left: 7%;    
}

label{
    margin-top: 3%;
}

input[type=submit]{
    margin-top: 2%;
}

table thead tr:first-child{
    text-align: center;
}

table thead tr:first-child th:first-child,  table thead tr:first-child th:nth-child(2){
  width: 7%;
}

table thead tr:first-child th:nth-child(3), table thead tr:first-child th:nth-child(4){
    text-align: center;
}

#menuTabla button{
    margin: 0px;
    margin-left: 1%;
    float: right;
}

#menuTabla input{
    display: inline-block;
    width: 25%;
    margin: 0px;
    margin-left: 1%;
    float: right;
}

td{
    text-align: center;
}

#break{
    clear:both;
}


section{
  height: 100%;    
}

.panel-heading{
    font-size: 20px;
}