section {
  padding-top: 0.5%;
}

hr{
    margin-bottom: 0px;
}

form{
    padding-left: 2%;
}

.vistaPrevia{
    width: 10em;
    height: 10em;
}

.spanVP{
    display: block;
}

.labelVP{
    width: 51%;
}

input[type=file]{
    width: 50%;
    margin-top: 1em;
    margin-bottom: 8em;
    display: inline-block;
    vertical-align: top;
}


