section{
    padding-top: 0.5%;
}

hr{
    margin-bottom: 0px;
}

form{
    padding-left: 2%;
}

#txtNombreEvento{
    width: 50%;
}

#txtFechaInicio{
    width: 100%;
}

#txtFechaFin{
    width: 100%;
}

#txtNombreEspacio{
    width: 50%;
}

#txtNombreLugar{
    width: 50%;
}

#radioGrupo{
    text-align: center;
}
            
#radioNo{
    margin-left: 3em;
}

.vistaPrevia{
    width: 10em;
    height: 10em;
}

.spanVP{
    display: block;
}

.labelVP{
    width: 51%;
}

input[type=file]{
    width: 50%;
    margin-top: 1em;
    margin-bottom: 8em;
    display: inline-block;
    vertical-align: top;
}

.container{
    width: 100%;
}

.novisible{
    display: none;
}