/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/04/2015, 11:15:39 PM
    Author     : Enrique
*/
            
            
            #mapa{
                width: 98%;
                height: 30em;
                margin: auto;
                margin-top: 3em;
                margin-bottom: 1em;
                background-color: black;
            }
            
            #radioGrupo{
                text-align: center;
            }
            
            input[type=text]{
                width: 100%;
            }
            
            input[type=url]{
                width: 100%;
            }
            
            #radioNo{
                margin-left: 3em;
            }
            
            mapa{
                background-color: black;
            }
            #txtCoordenadas{
                display: none;
            }