#break{
    clear:both;
}

.container{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.orientacion{
    width: 80%;
}

div.container img{
    float: left;
    margin :0px;
    margin-left: 3%;
}

div.container input[type=text]{
    float: left;
    width: 78%;
    margin-left: 5%;
}

#txtNombreEspacio{
    width: 80%;    
    margin-left: 0px;
}

label{
    margin-top: 0.5%;    
}

section{
  padding-top: 1%;    
}

#contenedorNombreEspacio{
    margin-bottom: 5%;
}

#lbOrientacion{
    float:left;
}

#lbDescripcion{
    float:left;
    margin-left: 34%;
}

.alert{
    margin-bottom: 0px;
}