#listaSenialamientos {
  height: 100%;
  margin: auto;
  margin-top: 1%;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
  overflow-y:auto;
  overflow-x: hidden;  
}

.input-group-addon{
  padding: 0px;
  padding-top: 0.3%;
  margin-right: 1%;    
}

#noIndicaciones{
    font-size: 88%;
}

#fechaRegistro{
    font-size: 88%;
}

#break{
    clear:both;
}

h2{
    font-size: 130%;
}
  

@media screen and (max-width: 1024px) {
    #noIndicaciones{
        font-size: 83%;
    }    
    #fechaRegistro{
        font-size: 83%;
    }
}  
  
@media screen and (max-width: 640px) {
    #noIndicaciones{
        font-size: 83%;
    } 
    #fechaRegistro{
        display: none;
    }
}