.media-body{
    padding-top: 1.7%;
}

strong{
    font-weight: bold;
    font-size: 110%;
}

#listaServicios{
    height: 100%;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    box-shadow: 1px 1px 1px #888888;
    overflow-y: auto;
    overflow-x: hidden;    
}

.media{
    margin-top: 0px;
    padding-bottom: 0.5%;    
}

.container{
    padding: 0.5%;
}

.input-group-addon{
    padding-left: 2%;
    padding-top: 3%;
    margin-right: 1%;    
}


